<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/components/project-card.css">
  <title>Project-card</title>
</head>
<body>
  
  <section class="dc-project-card">
    <div class="dc-project-container">
      <div class="dc-project-title">
        <h3>01 Single-Page CV - 01-01-26</h3>
      </div>

      <div class="dc-project-content">

        <div class="dc-project-item">
          <img src="./assets/icons/check-icon.svg" alt="">
            <div class="dc-item-description">
              <p><span>Problem: </span>I redesigned LinkedIn's news feed to address inefficient navigation and excessive white space, which negatively impacted the user experience.
              </p>
            </div>
        </div>
        <div class="dc-project-item">
          <img src="./assets/icons/check-icon.svg" alt="">
            <div class="dc-item-description">
              <p><span>Process: </span>I conducted an initial UX audit of the current feed, identified key user pain points, and applied UX Laws to propose strategic design solutions. I developed a mini Design System and a high-fidelity prototype.
              </p>
            </div>
        </div>
        <div class="dc-project-item">
          <img src="./assets/icons/check-icon.svg" alt="">
            <div class="dc-item-description">
              <p><span>Solution: </span>I delivered a visually appealing and cohesive news feed redesign that optimizes space and improves navigation. The solution focused on a more logical organization and a consolidated layout, resulting in a more fluid and functional user experience.
              </p>
            </div>
        </div>

      </div>

      <div class="dc-project-tags">
          <span class="dc-tag">UI Design</span>
          <span class="dc-tag">UX Research</span>
          <span class="dc-tag">Prototyping</span>
        </div>

      <div class="dc-project-buttons">
        <button class="dc-btn dc-btn__sec-core">View Project</button>
        <button class="dc-btn dc-btn__sec-logic">Source Code</button>
      </div>


    </div>
  </section>

</body>
</html>