<header>
    <nav class="cv-main-nav">
      <div class="cv-profile">
        <div class="main-nav-name">
          <p class="cv-h1">Front End Jr</p>
          <p>JD Albarran</p>
        </div>
        <div class="main-nav-logo">
          <img src="./assets/logo/avidevcode-logo-vert.svg" alt="avidevcode - JD Albarran logo">
          <img src="./assets/logo/avidecode-sign-2023.svg" alt="">
        </div>
      </div>
      <div class="main-nav-links">
        <a href="./index.html">Personal projects</a>
        <a href="./about.html">My certificates</a>
      </div>
    </nav>
  </header>