<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile-card</title>
</head>
<body>
  <section class="dc-profile-card">
    <div class="dc-prifile-card_content">
      <img src="./assets/img/avidevcode-photo.png" alt="Foto de avidevcode" class="dc-profile-avatar">
    </div>

    <div class="dc-divider"></div>

    <div class="dc-profile-rrss">
      <div class="dc-rrss-container">
        
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/01-linkedin.svg" alt="Linkedin Icon">
            <p>LinkedIn:</p>
          </div>
          <a href="https://www.linkedin.com/in/avidevcode">
            <p>/in/avidevcode</p></a>
        </div>
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/02-behance.svg" alt="Behance Icon">
            <p>Behance:</p>
          </div>
          <a href="https://www.behance.net/avidevcode">
            <p>/avidevcode</p></a>
        </div>
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/03-github.svg" alt="Github Icon">
            <p>GitHub:</p>
          </div>
          <a href="https://www.github.com/avidevcode">
            <p>/avidev-code</p></a>
        </div>
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/04-mail.svg" alt="Linkedin Icon">
            <p>G-mail:</p>
          </div>
          <a href="https://www.linkedin.com/in/avidevcode">
            <p>avidevcode@gmail.com</p></a>
        </div>
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/05-mobile.svg" alt="Linkedin Icon">
            <p>Phone:</p>
          </div>
          <a href="https://www.linkedin.com/in/avidevcode">
            <p>+39-351-671.14.27</p></a>
        </div>
        <div class="dc-social">
          <div class="dc-social-name">
            <img src="./assets/icons/01-linkedin.svg" alt="Linkedin Icon">
            <p>LinkedIn:</p>
          </div>
          <a href="https://www.linkedin.com/in/avidevcode">
            <p>avidevcode</p></a>
        </div>

        <div class="dc-social_update">
          <img src="./assets/icons/07-clock-icon.svg" alt="Linkedin Icon">
          <p>Last update: 2024</p>
        </div>
      </div>
    </div>

    <div class="dc-profile-lang">
      <div class="dc-lang-title">
        <img src="./assets/icons/08-lang-icon.svg" alt="Languages Icon">
        <p>Languages</p>
      </div>

      <div class="dc-lang-container">
        <div class="dc-lang">
          <img src="./assets/icons/ES.svg" alt="Spanish flag">
          <p>Spanish</p>
          <span>Native</span>
        </div>

        <div class="dc-lang">
          <img src="./assets/icons/US.svg" alt="English flag">
          <p>English</p>
          <span>Professional Proficiency</span>
        </div>

        <div class="dc-lang">
          <img src="./assets/icons/IT.svg" alt="Italian flag">
          <p>Italian</p>
          <span>Basic</span>
        </div>
      </div>
    </div>

  </section>
</body>
</html>