@import '../base/reset.css';
@import '../components/buttons.css';
@import '../tokens/dualcore-global-colors.css';
@import '../tokens/dualcore-semantics.css';

.cards-container {
  display: flex;
  flex-direction: column;
  gap: var(--dc-space-lg);
}

.ui-cert-card {
  max-width: 400px;
  background-color: var(--dc-card-bg);
  corner-shape: squircle;
  border-radius: var(--dc-br-xl);
  display: flex;
  flex-direction: column;
  }
  
.ui-heading-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.6rem;
  padding: var(--dc-space-md);
  background-color: var(--dc-card-heading);
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.ui-heading-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui-heading-1 {
  display: flex;
  align-items: center;
  gap: var(--dc-space-sm);
}
.ui-badge-container {
  width: 22px;
  height: 20px;
  padding: 4px;
  border-radius: 0.4rem;
  background-color: var(--dc-core-neutral-700)
}
.ui-badge-container img {
  width: 100%;
  height: 100%;
}
.ui-heading-1 span {
  width: 32px;
  height: 32px;
}
.ui-heading-1 p {
  font-size: var(--dc-fs-md);
  font-weight: 600;
  color: var(--dc-sec-clr);
}
.ui-heading-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--dc-space-sm);
}
.ui-heading-date img {
  height: ;
}

.ui-heading-date p {
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: var(--dc-fs-sm);
  color: var(--dc-sec-clr);
}
.ui-heading-date img {
  width: 16px;
  height: 16px;
}

/*Course description*/
.ui-cert-body {
  height: 180px;
  padding: var(--dc-space-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ui-cert-body p {
  font-size: var(--dc-fs-sm);
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
  color: var(--dc-core-neutral-200);
  letter-spacing: 0.1px;
}
.ui-cert-body button {
  width: 100%;
  padding: 0.8rem 0;
  border: 1px solid var(--dc-sec-clr);
  background-color: var(--dc-card-bg);
  border-radius: var(--dc-br-sm);
  color: var(--dc-sec-clr);
  font-size: var(--dc-fs-md);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--dc-space-sm);
  cursor: pointer;
}
.ui-cert-body img {
  width: 24px;
  height: 24px;
}