<section class="dev-cert-card">
  <div class="dev-cert-heading">
    <div class="dev-heading-content">
      <div class="dev-heading-title">
        <div class="dev-heading-1">
          <img src="./assets/course-badges/html-2025.png" alt="Badge of HTML 2025 Certificate">
          <p>HTML course at</p>
          <a href="https://www.platzi.com"><img src="./assets/logo/platzi-logo.svg" alt=""></a>
        </div>
        <div class="dev-badge-container">
          <img src="./assets/icons/button-code-icon.svg" alt="">
        </div>
      </div>
      <div class="dev-heading-date">
        <img src="./assets/icons/calendar.svg" alt="">
        <p>30/09/2025</p>
      </div>
    </div>
  </div>
  <div class="dev-cert-body">
    <p>Essential structure of web pages with HTML by writing clean, hierarchical, and functional code, understanding its structure  and hot it impacts the accessibility, SEO, and maintainability of the site.</p>
    <button><img src="./assets/icons/certificado-icon.svg" alt="">Ver certificado</button>
  </div>
</section>